// // Commonly used web colors
$black: #2b0316;            // Black
$white: #dfece5;            // White
$yoshino-black: $black;
$yoshino-blue: #02a0c2;
$yoshino-white: #dcece4;
$yoshinodon-unlisted: #ffd7df;
$yoshino-skyblue: #067193;
$yoshino-darkblue: #282c37;
$yoshino-lightred: #9b0016;
$yoshino-red: #b11a33;
$yoshino-yellow: #fff28a;
$yoshino-orange: #d77826;
