
// Commonly used web colors
$black: #000000;            // Black
$white: #ffffff;            // White
$success-green: #79bd9a;    // Padua
$error-red: #df405a;        // Cerise
$warning-red: #ff5050;      // Sunset Orange
$gold-star: #ca8f04;        // Dark Goldenrod
// yoshinodon colors
$yoshino-black: #3e0d1d;
$yoshino-black-secondary: saturate($yoshino-black, 14%);
$yoshino-white: #dcece4;
$yoshino-red: #9b0016;
$yoshino-orange: #d77826;
$yoshino-yellow: #fff28a;
$yoshino-blue: #02a0c2;
$yoshino-darkblue: #282c37;
// Values from the classic Mastodon UI
$classic-base-color: adjust-hue($yoshino-white, 30deg);         // Midnight Express
$classic-primary-color: $yoshino-black-secondary;      // Echo Blue
$classic-secondary-color: #d9e1e8;    // Pattens Blue
$classic-highlight-color: #2b90d9;    // Summer Sky

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$primary-text-color: $yoshino-black-secondary !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default;                  // Darkest
$ui-base-lighter-color: $yoshino-black-secondary !default; // Lighter darkest
$ui-primary-color: $classic-primary-color !default;            // Lighter
$ui-secondary-color: $classic-secondary-color !default;        // Lightest
$ui-highlight-color: $classic-highlight-color !default;        // Vibrant
