/* 全体の背景色 */
body,
body.app-body,
.ui {
  -webkit-background-size: 128px 128px;
  -moz-background-size: 128px 128px;
  background-size: 128px 128px;
  background-color: $yoshino-white;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, $yoshino-blue), color-stop(.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(left, $yoshino-blue 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(left, $yoshino-blue 50%, transparent 50%, transparent);
  background-image: linear-gradient(left, $yoshino-blue 50%, transparent 50%, transparent);
}

.drawer__inner {
  opacity: 0.9;
  background-color: lighten($black, 13%);
}

/* tootの文字数カウンタ */
.character-counter {
  color: $yoshino-white; // なんかここだけこの色なの変じゃないですか
}

/* 検索欄子 */
.search__input {
  background-color: lighten($black, 13%);
}

/* トゥートの背景色と文字色 */
.scrollable,
.scrollable [role=feed],
.drawer__inner.darker,
.search-results__section *,
.tabs-bar__link:hover,
.drawer__header>a:hover,
.drawer__header>a:hover *,
.empty-column-indicator,
.suggestion-tags__body>ul>li,
.suggestion-tags__body>ul>li * {
  background-color: adjust-hue($yoshino-white, 30deg);
  color: $yoshino-black;
}

/* 公開範囲 */
.privacy-dropdown__option {
  .privacy-dropdown__option__content,
  .privacy-dropdown__option__content strong,
  .privacy-dropdown__option__icon {
    color: $yoshino-black;
  }

  &.active {
    .privacy-dropdown__option__content,
    .privacy-dropdown__option__content strong,
    .privacy-dropdown__option__icon {
      color: $yoshino-white;
    }
  }
}

.compose-form__warning {
  background-color: $blue;
}

/* トゥート欄の名前 */
.display-name__html {
  color: $yoshino-black;
}

/* Boostボタン */
.icon-button {
  &.active i.fa-retweet {
    filter: $yoshino-blue;
  }
  &:not(.active) i.fa-retweet {
    filter: brightness(23%);
  }
  &.disabled i.fa-retweet {
    filter: brightness(23%);
  }
}

/* ボタンのhover時 */
.icon-button:hover {
  color: $yoshino-black;
}

/* ボタン無効時 */
.icon-button.disabled {
  color: lighten($black, 23%);
}

/* リンク */
.status__content a,
.status__content a>span,
span.ellipsis,
.active,
.search__icon * {
  color: $yoshino-blue;
}

/* status個別ページ */
.activity-stream .status.light,
.activity-stream .detailed-status.light {
  .status__content a,
  .status__content a>span,
  span.ellipsis,
  .active,
  .search__icon * {
    color: $yoshino-blue;
  }

  *,
  .display-name > strong,
  .detailed-status__display-name .display-name > strong {
    color: $yoshino-black;
  }
}

/* カメラ, 公開範囲, CW */
.compose-form__buttons {
  .text-icon-button,
  .icon-button {
    color: lighten($black, 33%);
  }

  .privacy-dropdown {
    background-color: $yoshino-darkblue;
  }
}

/* 投稿ボタン */
.compose-form .button {
  background-color: $yoshino-red;
  color: $white;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

  &:hover {
    background-color: darken($yoshino-red, 5%);
    opacity: 0.8;
  }
}

/* 投稿フォームのプロフィール欄 */
.navigation-bar {
  color: $blue;

  strong {
    color: $white;
  }
}

/* アナウンス */
.announcements__body {
  & > a {
    border: solid;
    border-color: $black;
    border-width: 1px;
  }

  a,
  p {
    color: $black;
  }
}

/* 書き込みエリア */
.autosuggest-textarea__textarea {
  color: $black;
}

/* ヘッダーの背景色と文字色 */
.column-header,
.column-header *,
.getting-started__wrapper,
.getting-started__wrapper *,
.column-icon,
.tabs-bar,
.drawer__header,
.drawer__header *,
.column-back-button,
.search-results__header,
.favourite-tags *,
.trend-tags__header,
.column-header__collapsible-inner,
.tabs-bar__link,
.setting-text,
.text-btn,
.column-settings__section,
.setting-toggle__label {
  background-color: $yoshino-black;
  color: $white;
}

/* 角を丸くする */
.ui,
.drawer__header,
.drawer__header *,
.column *,
.column-header__wrapper *,
.scrollable,
.search,
.search *,
.drawer__inner,
.feed,
.compose-form,
.announcements,
.favourite-tags,
.favourite-tags *,
.compose-form__buttons * {
  border-radius: 10px;
  /* CSS3草案 */
  -webkit-border-radius: 10px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;
  /* Firefox用 */;
}

/* 未収載トゥートの色分け */
.status-unlisted {
  background: lighten($yoshino-red, 62%);
}

/* $gold-starの置き換え */
.notification__favourite-icon-wrapper {
  .star-icon {
    color: $yoshino-blue;
  }
}

.star-icon.active {
  color: $yoshino-blue;
}

/* スクロールバーの設定 */
::-webkit-scrollbar,
::-webkit-scrollbar-track-piece {
  background: $yoshino-white;
}

::-webkit-scrollbar:hover,
::-webkit-scrollbar-track-piece:hover {
  background: $yoshino-yellow;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: $yoshino-orange;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
