
/* 全体の背景色 */
body,
body.app-body,
.ui {
  -webkit-background-size: 128px 128px;
  -moz-background-size: 128px 128px;
  background-size: 128px 128px;
  background-color: $yoshino-white;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, $yoshino-blue), color-stop(.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(left, $yoshino-blue 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(left, $yoshino-blue 50%, transparent 50%, transparent);
  background-image: linear-gradient(left, $yoshino-blue 50%, transparent 50%, transparent);
}

.drawer__inner {
  opacity: 0.9;
  /* tootの文字数カウントに適用 */
  // color: $yoshino-white !important;
}

// /* トゥートの背景色と文字色 */
// .scrollable,
// .drawer__inner.darker,
// .search-results__section *,
// .tabs-bar__link:hover,
// .drawer__header>a:hover,
// .drawer__header>a:hover *,
// .empty-column-indicator,
// .suggestion-tags__body>ul>li,
// .suggestion-tags__body>ul>li * {
//   background-color: $yoshino-white;
//   color: $yoshino-black;
// }

// .scrollable *:not(.fa) {
//   background-color: $yoshino-white;
//   color: $yoshino-black;
// }

// /* ボタンの背景色 */
// .status__content a,
// .status__content a>span,
// span.ellipsis,
// .active,
// .search__icon * {
//   color: $yoshino-blue;
// }

// .compose-form__buttons .active {
//   background-color: $yoshino-darkblue;
// }

// .button {
//   background-color: $yoshino-red;
//   opacity: 1;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: clip;
// }

// .button:hover {
//   background-color: darken($yoshino-red, 5%);
//   opacity: 0.8;
// }

// /* ヘッダーの背景色と文字色 */
// .column-header,
// .column-header *,
// .getting-started__wrapper,
// .getting-started__wrapper *,
// .column-icon,
// .tabs-bar,
// .drawer__header,
// .drawer__header *,
// .column-back-button,
// .search-results__header,
// .favourite-tags *,
// .trend-tags__header,
// .column-header__collapsible-inner {
//   background-color: $yoshino-black;
//   color: $white;
// }

// /* 角を丸くする */
// .ui,
// .drawer__header,
// .drawer__header *,
// .column *,
// .column-header__wrapper *,
// .scrollable,
// .search,
// .search *,
// .drawer__inner,
// .feed,
// .compose-form,
// .announcements,
// .favourite-tags,
// .favourite-tags *,
// .compose-form__buttons * {
//   border-radius: 10px;
//   /* CSS3草案 */
//   -webkit-border-radius: 10px;
//   /* Safari,Google Chrome用 */
//   -moz-border-radius: 10px;
//   /* Firefox用 */;
// }

// /* 未収載トゥートの色分け */
// .status-unlisted {
//   background: lighten($yoshino-red, 62%);
// }

// /* スクロールバーの設定 */
// ::-webkit-scrollbar,
// ::-webkit-scrollbar-track-piece {
//   background: $yoshino-white;
// }

// ::-webkit-scrollbar:hover,
// ::-webkit-scrollbar-track-piece:hover {
//   background: $yoshino-yellow;
// }

// ::-webkit-scrollbar-thumb,
// ::-webkit-scrollbar-thumb:hover {
//   background: $yoshino-orange;
// }

// ::-webkit-scrollbar-thumb,
// ::-webkit-scrollbar-track {
//   border-radius: 4px;
//   -webkit-border-radius: 4px;
// }
